h2 {
    color: #163be0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    padding-bottom: 20px;
}

.container-center {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;  /* Căn giữa ngang */
    align-items: center;      /* Căn giữa dọc */
    min-height: 100vh;        /* Chiếm toàn bộ chiều cao màn hình */
    background-color: antiquewhite;
    padding: 100px 0;          /* Khoảng cách trên dưới */
}

label {
    font-size: larger;
    font-weight: bold;    
    display: block;
    margin-bottom: 8px; 
    color: #163be0;
}  

span{
    color: black;
    font-weight: normal;
}
.taoCLB { 
    margin: 40px 0;           /* Cách lề trên và dưới */
    padding: 50px;
    border-radius: 12px;
    width: 750px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 249, 158);
} 

input, select {
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #6ea5ca;
    border-radius: 6px;
}
#fileUpload {
    display: none;
}
.upload-box {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    border: 3px dashed #6ea5ca; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;  
}
 
.imgCLB {
    display: block;
    margin: 0 auto 30px;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
}

.btnCreateCLB {
    margin: 20px auto 0 auto; 
    background: #007bff;
    border: none; 
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    width: fit-content; 
}

.btnCreateCLB:hover {
    background: #005ec2;
}

.btnback {
    margin: 20px auto 0 auto;
    padding: 8px 52px;
    background: #007bff;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: fit-content;
    display: block;  
}

.btnback:hover {
    background: #005ec2;
}
