/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-contain {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    padding: 20px 0 60px;
}

/* ====== HEADER ====== */
.dash-head h1 {
    font-size: 38px;
    margin-top: 75px; 
}

/* ====== INTRO ====== */
.dash-intro {
    margin-bottom: 20px;
}

.title-main {
    font-size: 40px;
    margin-bottom: 5px;
}

.title-sub {
    font-size: 15px;
    color: #141414;
}
 
.warn-box {
    background: #f7f8fa;
    border-left: 5px solid #ffcc00;
    margin-top: 15px;
    padding: 18px 20px;
    border-radius: 8px;
}

.alert-txt p {
    color: #e70000;
    font-size: 15px;
}
 
.task-group {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    padding: 20px;
    border-radius: 12px;
    color: #333;
    padding-bottom: 30px;
}

.info-add {
    background: #79f789;
}

.page-add {
    background: #66a0f7;
}

.member-add {
    background: #eba356;
}

.box h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: black;
}

.box p {
    font-size: 15px;
    margin-bottom: 18px;
    color: #464141;
}

.box button {
    padding: 8px 20px;
    background: rgb(8, 5, 5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    color: white;
}

.box button:hover {
    background: #474747;
} 
.dash-main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 35px;
}
  
.event-sect h2 {
    font-size: 24px; 
    text-align: left;    
    margin-left: 10px;  
    font-weight: bold;  
}
 

.event-empty {
    border: 2px solid #ec8600;
    border-radius: 12px;
    text-align: center;
    padding: 35px 20px 45px;
}

.event-empty h2 {
    margin-bottom: 18px;
}

.empty-txt h3 {
    font-size: 20px;
}

.empty-txt p {
    margin-top: 8px;
    font-size: 15px;
    color: #666;
}

.taosk {
    font-size: larger;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #fdc427;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.taosk:hover {
    background: #f3c64c;
}

/* --- RIGHT: MEMBER LIST --- */
.member-list {
    border: 2px solid #ec8600;
    padding: 20px;
    border-radius: 12px;
}

.member-list h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.addTV {
    border: none;
    background: #d6d6d6;
    border-radius: 50%;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 20px;
}

.addTV:hover {
    background: #bfbfbf;
}

.member-item {
    margin-top: 15px;
}

 